@model HomeViewModel

@{
    ViewBag.Title = "Home - Doctrina";
}

<div class="container">
    <div class="group-container mt-3 mb-3">
        <div class="row">
            <div class="col-12"><h5>My groups <span style="font-size:14px;">View all groups</span></h5></div>
        </div>
        <div class="row">
            @{ var i = 0; }
            @foreach (var group in Model.Groups)
            {
                @if (i == 5)
                {
                    break;
                }

                i++;

                <div class="col-sm-6 col-md-2 p-2">
                    <a class="btn btn-dark w-100 pt-3 pb-3 pl-1 pr-1 mt-1" asp-controller="Group" asp-action="Index" asp-route-id="@group.Id">@group.Name</a>
                </div>
            }

            <div class="col-sm-6 col-md-2 p-2">
                <a class="btn btn-light w-100 pt-3 pb-3 pl-1 pr-1 mt-1" asp-controller="Group" asp-action="Create">+ Create New Group</a>
            </div>
        </div>
    </div>


</div>