.bg-gray70 {
    background-color: rgba(70,70,70,1);
}

.bg-gray50 {
    background-color: rgba(50,50,50,1);
}

.bg-gray40 {
    background-color: rgba(40,40,40,1);
}

.bg-gray30 {
    background-color: rgba(30,30,30,1);
}

.bg-gray20 {
    background-color: rgba(20,20,20,1);
}

.bg-purple {
    background-color: rgb(156, 0, 161) !important;
}

.text-purple {
    color: rgba(249, 71, 255,1);
}

.text-light-gray{
    color:rgb(217, 217, 217);
}