@model RegisterViewModel

@{
    ViewBag.Title = "Register - Doctrina";
    Layout = "_Layout.cshtml";
}

    <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <img src="~/images/D logo.png" class="doctrina-logo-small" />
        </div>
        <div class="d-flex justify-content-center mt-3">
            <h3 class="text-white" style="font-weight:200; font-size:22px;">Create a new account</h3>
        </div>
        <div class="d-flex justify-content-center">
            <form method="POST" class="register-box text-white" onsubmit="return CheckTermsAndPrivacyPolicy()" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group p-2 col-sm-12 col-md-6" style="margin-bottom:0.4rem;">
                        <label asp-for="FirstName" class="l-rp"></label>
                        <input asp-for="FirstName" class="form-control input-text-custom" />
                    </div>
                    <div class="form-group p-2 col-sm-12 col-md-6" style="margin-bottom:0.4rem;">
                        <label asp-for="LastName" class="l-rp"></label>
                        <input asp-for="LastName" class="form-control input-text-custom" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group p-2 col-sm-12 col-md-6 position-relative" style="margin-bottom:0.4rem;">
                        <label asp-for="UserName" class="l-rp"></label>
                        <input asp-for="UserName" class="form-control input-text-custom" />
                        <span class="validation-hint-box position-absolute" asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group p-2 col-sm-12 col-md-6" style="margin-bottom:0.4rem;">
                        <label asp-for="Email" class="l-rp"></label>
                        <input asp-for="Email" class="form-control input-text-custom" />
                        <span class="validation-hint-box position-absolute" asp-validation-for="Email" class="l-rp"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group p-2 col-sm-12 col-md-6" style="margin-bottom:0.4rem;">
                        <label asp-for="Password" class="l-rp"></label>
                        <input asp-for="Password" class="form-control input-text-custom" />
                        <span class="validation-hint-box position-absolute" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group p-2 col-sm-12 col-md-6" style="margin-bottom:0.4rem;">
                        <label asp-for="ConfirmPassword" class="l-rp"></label>
                        <input asp-for="ConfirmPassword" class="form-control input-text-custom" />
                        <span class="validation-hint-box position-absolute" asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group p-2 col-sm-12 col-md-6" style="margin-bottom:0.4rem;">
                        <label asp-for="Country" class="l-rp"></label>
                        <input asp-for="Country" class="form-control input-text-custom" />
                    </div>
                    <div class="form-group p-2 col-sm-12 col-md-6" style="margin-bottom:0.4rem;">
                        <label asp-for="City" class="l-rp"></label>
                        <input asp-for="City" class="form-control input-text-custom" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group p-2 col-12" style="margin-bottom:0.4rem;">
                        <label asp-for="Photo" class="l-rp"></label>
                        <div class="custom-file">
                            <input asp-for="Photo" class="form-control custom-file-input" />
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="termsAndPolicy" class="form-check-inline mb-0 p-2">
                        <input type="checkbox" id="TermsAndPrivacyPolicy" name="TermsAndPrivacyPolicy" class="form-check-input" onclick="RemoveCheckBoxBorder()" />
                        <label id="termsAndPolicyLabel" for="TermsAndPrivacyPolicy" class="m-0 l-rp">I agree to the Doctrina <a href="#">Terms of Service</a> and <a href="#">Privacy and policy</a>.</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 p-2"><button type="submit" class="btn btn-primary w-100 btn-sm">Register</button></div>
                </div>
            </form>
        </div>
        <div class="d-flex justify-content-center">
            <div class="register-box mt-0">
                <p class="text-white font-weight-lighter d-flex justify-content-center l-rp m-0">Already a member?&nbsp;<a href="/account/login/" class="text-decoration-none text-purple">Log in</a>.</p>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next(".custom-file-label").html(fileName);
            });
        });
    </script>