@model RegisterViewModel

@{
    ViewBag.Title = "Register - Doctrina";
    Layout = "_Layout.cshtml";
}

    <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <img src="~/images/D logo.png" class="doctrina-logo-small" />
        </div>
        <div class="d-flex justify-content-center mt-3">
            <h3 class="text-white" style="font-weight:200; font-size:22px;">Create a new account</h3>
        </div>
        <div class="d-flex justify-content-center">
            <form method="POST" class="login-register-box text-white">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="l-rp"></label>
                    <input asp-for="FirstName" class="form-control input-text-custom" />
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="l-rp"></label>
                    <input asp-for="LastName" class="form-control input-text-custom" />
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="l-rp"></label>
                    <input asp-for="UserName" class="form-control input-text-custom" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="l-rp"></label>
                    <input asp-for="Email" class="form-control input-text-custom" />
                    <span asp-validation-for="Email" class="l-rp"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="l-rp"></label>
                    <input asp-for="Password" class="form-control input-text-custom" />
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="l-rp"></label>
                    <input asp-for="ConfirmPassword" class="form-control input-text-custom" />
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="l-rp"></label>
                    <input asp-for="Country" class="form-control input-text-custom" />
                </div>
                <div class="form-group">
                    <label asp-for="City" class="l-rp"></label>
                    <input asp-for="City" class="form-control input-text-custom" />
                </div>
                <button type="submit" class="btn btn-primary w-100 btn-sm">Register</button>
            </form>
        </div>
        <div class="d-flex justify-content-center">
            <div class="login-register-box mt-0">
                <p class="text-white font-weight-lighter d-flex justify-content-center l-rp m-0">Already a member?&nbsp;<a href="/account/login/" class="text-decoration-none text-purple">Log in</a>.</p>
            </div>
        </div>
    </div>
